<div class="all-page">
  <header>
    <div class="header-container">
      <div class="header-content">
        AppCo
      </div>
    </div>
  </header>
  <div class="first-block">
    <div class="first-block-container">
      <div class="first-block-content">
        <div class="tagline">
          <span class="tagline-bold">Brainstorming</span> for <br/>desired perfect Usability
        </div>
        <div class="about-our-design">
          Our design projects are fresh and simple and will benefit<br/> your business greatly. Learn more about our work!
        </div>
        <button class="view-button">Views stats</button>
        <div class="telephone"></div>
      </div>
    </div>
  </div>
  <div class="second-block">
    <div class="question">
      Why <span class="second-block-bold">small business owners<br/> love</span> AppCo?
    </div>
    <div class="about-our-design-second">
      Our design projects are fresh and simple and will benefit your business<br/> greatly. Learn more about our work!
    </div>
    <div class="blocks">
      <div class="block">
        <div class="block-picture-container">
          <div class="block-picture">
            <img src="../assets/picture-1.png">
          </div>
        </div>
        <div class="block-title">
          Clean Design
        </div>
        <div class="block-description">
          Increase sales by showing true dynamics of your website.
        </div>
      </div>
      <div class="block">
        <div class="block-picture-container">
          <div class="block-picture">
            <img src="../assets/picture-2.png">
          </div>
        </div>
        <div class="block-title">
          Secure Data
        </div>
        <div class="block-description">
          Build your online store’s trust using Social Proof & Urgency.
        </div>
      </div><div class="block">
      <div class="block-picture-container">
        <div class="block-picture">
          <img src="../assets/picture-3.png">
        </div>
      </div>
      <div class="block-title">
        Retina Ready
      </div>
      <div class="block-description">
        Realize importance of social proof in customer’s purchase decision.
      </div>
    </div>
    </div>
  </div>
  <div class="third-block">
    <div class="form-container">
      <form>
        <input type="text" placeholder="Enter your email" class="form-text">
        <input type="submit" value="Subscribe" class="form-button">
      </form>
    </div>
    <div class="footer-container">
      <div class="footer">
        <div class="footer-block first">AppCo</div>
        <div class="footer-block second">All rights reserved by ThemeTags</div>
        <div class="footer-block third">Copyrights © 2019. </div>
      </div>
    </div>
  </div>
</div>
