<div class="all-page">

  <header>
    <div class="header-container">
      <div class="header-content">
        AppCo
      </div>
    </div>
  </header>
  <div class="navigation">
    <div class="navigation-container">
      <div class="grey-navigation-text">
        Main page
      </div>
      <div class="grey-navigation-text">
        >
      </div>
      <div class="blue-navigation-text">
        User satistics
      </div>
    </div>
  </div>
  <div class="users-statistics">
    <div class="users-statistics-container">
      Users statistics
    </div>
  </div>
 <div class="table">
   <div class="table-row blue">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row white">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row grey">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row white">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row grey">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row white">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row grey">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row white">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row grey">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row white">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row grey">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row white">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row grey">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row white">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row grey">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row white">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
   <div class="table-row grey">
     <div class="id">Id</div>
     <div class="first-name">First name</div>
     <div class="last-name">Last name</div>
     <div class="email">Email</div>
     <div class="gender">Gender</div>
     <div class="ip-address">IP address</div>
     <div class="total-clicks">Total clicks</div>
     <div class="total-page-views">Total page views</div>
   </div>
 </div>
 <div class="switch-table-buttons">
   <div class="switch-table-buttons-container">
     <div class="left-pointer"></div>
     <div class="blue-button">
       <div class="button-content">
         1
       </div>
     </div>
     <div class="white-button">
       <div class="button-content">
         2
       </div>
     </div>
     <div class="white-button">
       <div class="button-content">
         3
       </div>
     </div>
     <div class="white-button">
       <div class="button-content">
         4
       </div>
     </div>
     <div class="white-button">
       <div class="button-content">
         5
       </div>
     </div>
     <div class="right-pointer"></div>
   </div>
 </div>
 <div class="footer-container">
   <div class="footer">
     <div class="footer-content">
      <div class="footer-block first">AppCo</div>
      <div class="footer-block second">All rights reserved by ThemeTags</div>
      <div class="footer-block third">Copyrights © 2019. </div>
     </div>
   </div>
 </div>
</div>
